server:
  port: 8080

spring:
  application:
    name: customer

  datasource:
    url: jdbc:postgresql://customer-db.default.svc.cluster.local:5432/customer
    username: admin
    password: admin

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
    show-sql: false

  rabbitmq:
    addresses: rabbitmq.default.svc.cluster.local:5672