server:
  port: 8080

spring:
  application:
    name: customer

  datasource:
    url: jdbc:postgresql://customer-db.default.svc.cluster.local:5432/customer
    username: admin
    password: admin

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
    show-sql: false

  rabbitmq:
    addresses: rabbitmq.default.svc.cluster.local:5672

  cloud:
    consul:
      host: consul.default.svc.cluster.local
      port: 8500
      discovery:
        enabled: true
        register: true
        health-check-path: /actuator/health
        health-check-interval: 10s

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
