spring:
  application:
    name: ${APP_NAME:customer}

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/customer}
    username: ${DB_USERNAME:admin}
    password: ${DB_PASSWORD:admin}

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

  rabbitmq:
    addresses: ${RABBITMQ_ADDR:localhost:5672}

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    root: INFO