spring:
  application:
    name: ${APP_NAME:notification}

  cloud:
    consul:
      host: ${CONSUL_HOST:localhost}
      port: ${CONSUL_PORT:8500}
      discovery:
        register: true
        prefer-ip-address: true
        health-check-interval: 10s

logging:
  level:
    root: INFO