server:
  port: ${SERVER_PORT:8082}

spring:
  application:
    name: ${APP_NAME:notification}

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/notification}
    username: ${DB_USERNAME:admin}
    password: ${DB_PASSWORD:admin}

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  jpa:
    hibernate:
      ddl-auto: ${JPA_DDL_AUTO:none}
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
          format_sql: true
    show-sql: ${JPA_SHOW_SQL:true}

  rabbitmq:
    addresses: ${RABBITMQ_ADDR:localhost:5672}

rabbitmq:
  exchanges:
    internal: internal.exchange
  queues:
    notification: notification.queue
  routing-keys:
    internal-notification: internal.notification.routing-key

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: ${LOG_LEVEL:INFO}
