server:
  port: ${SERVER_PORT:8081}

spring:
  application:
    name: ${APP_NAME:fraud}

  datasource:
    url: ${DB_URL:jdbc:postgresql://postgres:5432/fraud}
    username: ${DB_USERNAME:admin}
    password: ${DB_PASSWORD:admin}

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: ${JPA_SHOW_SQL:true}

  cloud:
    consul:
      host: ${CONSUL_HOST:consul}
      port: ${CONSUL_PORT:8500}
      discovery:
        enabled: true
        register: true
        health-check-path: /actuator/health
        health-check-interval: 10s
