server:
  port: ${SERVER_PORT:8081}

spring:
  application:
    name: ${APP_NAME:fraud}

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:default}

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/fraud}
    username: ${DB_USERNAME:admin}
    password: ${DB_PASSWORD:admin}

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  jpa:
    hibernate:
      ddl-auto: ${JPA_DDL_AUTO:none}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: ${ :true}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: ${LOG_LEVEL:INFO}