server:
  port: ${SERVER_PORT:8081}

spring:
  application:
    name: ${APP_NAME:fraud}

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:default}

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/fraud}
    username: ${DB_USERNAME:admin}
    password: ${DB_PASSWORD:admin}

  jpa:
    hibernate:
      ddl-auto: ${JPA_DDL_AUTO:create-drop}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: ${ :true}

  cloud:
    consul:
      host: ${CONSUL_HOST:localhost}
      port: ${CONSUL_PORT:8500}
      retry:
        max-attempts: 5
        initial-interval: 1000
        max-interval: 5000
      discovery:
        enabled: true
        register: true
        health-check-path: /actuator/health
        health-check-interval: 10s

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: ${LOG_LEVEL:INFO}