server:
  port: 8081

spring:
  application:
    name: fraud

  datasource:
    url: jdbc:postgresql://fraud-db.default.svc.cluster.local:5432/fraud
    username: admin
    password: admin

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
    show-sql: false

  cloud:
    consul:
      host: consul.default.svc.cluster.local
      port: 8500
      discovery:
        enabled: true
        register: true